# Enviorment
env

# Cache files
__pycache__
.pytest_cache
bot/__pycachve__
bot/helpers/__pycache__
tests/__pycache__

# Config files
config/config.yml
.vscode

# Testing trials
tests/connection_test.py

# Development files
development_log.md
uncompressed_output.txt
/logs
compressed_output.txt
